:root {
    /* 使用 Nord Theme 的配色，沒有為什麼，只是我喜歡而已 */
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}

* {
    position: relative;
}

html,
body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body {
    background: var(--nord6);
    color: var(--nord0);
}

a {
    text-decoration: none;
    color: inherit;
}

input[type="file"] {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

.label {
    @apply block uppercase tracking-wide text-nord1 font-bold mb-2 cursor-pointer text-sm;
}

.upload-label,
.fetch-label {
    @apply text-nord10 p-2 cursor-pointer;
}

.editor-wrap {
    @apply appearance-none block w-full bg-nord4 text-nord0 border border-nord4 rounded-lg mb-3 leading-tight overflow-hidden focus:outline-none focus:bg-nord6 focus:border-nord3 transition duration-300 ease-in-out;
}

.success {
    text-shadow: 0 0 var(--nord1);
    @apply text-nord14;
}

#download {
    @apply text-nord10;
}

#result {
    @apply w-full bg-nord4 text-nord0 border border-nord4 rounded py-3 px-4 mb-3 leading-tight font-mono break-words;
}

#hash {
    @apply text-nord9 p-1;
}

#check {
    @apply bg-nord8 hover:bg-nord9 text-white font-bold py-2 px-4 rounded transition duration-300;
}

#container {
    @apply w-full lg:w-5/6 overflow-y-auto overflow-x-hidden py-6 lg:px-40 transition duration-500;
}

#popup {
    z-index: 999;
    @apply w-full h-full fixed top-0 left-0 hidden items-center justify-center;
}

#popup-body {
    @apply w-full lg:w-1/2 h-auto bg-nord4 text-nord0 border border-nord4 rounded-lg p-4;
}
