:root {
    /* 使用 Nord Theme 的配色，沒有為什麼，只是我喜歡而已 */
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}

* {
    position: relative;
}

html,
body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body {
    background: var(--nord6);
    color: var(--nord0);
}

a {
    text-decoration: none;
    color: inherit;
}

input[type="file"] {
    display: none;
}

::-webkit-scrollbar {
  @apply w-2.5;
}

::-webkit-scrollbar-track {
  @apply bg-nord4 rounded-full;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-nord2 rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-nord3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.nav-item {
    @apply flex-1 text-center p-2 lg:p-4 text-xs sm:text-sm lg:text-lg bg-nord4 transition-all duration-200 ease-in-out hover:bg-transparent hover:text-nord6;
}

.nav-item.selected {
    @apply bg-transparent text-nord6;
}

.page {
    @apply hidden flex-1 overflow-y-auto;
}

.page.current {
    @apply block;
}

.footer-item {
    @apply text-center mx-2 p-1 text-xs sm:text-sm text-nord6;
}

.label {
    @apply block uppercase tracking-wide text-nord1 font-bold mb-2 cursor-pointer text-sm;
}

.upload-label,
.fetch-label {
    @apply text-nord10 p-2 cursor-pointer;
}

.editor-wrap {
    @apply appearance-none block w-full h-full bg-nord4 text-nord0 border border-nord4 rounded-lg mb-3 leading-tight overflow-hidden focus:outline-none focus:bg-nord6 focus:border-nord3 transition duration-300 ease-in-out;
}

.btn {
    @apply bg-nord8 border border-nord8 hover:bg-nord9 hover:border-nord9 text-white font-bold py-2 px-4 my-1 rounded transition duration-300;
}

.success {
    text-shadow: 0 0 var(--nord1);
    @apply text-nord14;
}

#nav {
    @apply w-full flex h-8 lg:h-16 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 mb-2;
}

#nav::after {
    content: "";
    height: 2px;
    @apply block absolute bottom-0 w-full lg:h-1 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500;
}

#nav::before {
    content: "";
    height: 3px;
    filter: blur(3px);
    bottom: -1px;
    @apply block absolute w-full lg:h-1 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500;
}

#footer {
    @apply w-full flex justify-center bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 h-6 lg:h-8 mt-2;
}

#footer::before {
    content: "";
    height: 3px;
    filter: blur(3px);
    top: -1.5px;
    @apply block absolute w-full lg:h-1 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500;
}

#container {
    @apply flex flex-col w-full h-full overflow-hidden transition duration-500;
}

#download {
    @apply text-nord10;
}

#result {
    @apply flex-1 w-full overflow-y-auto overflow-x-hidden bg-nord4 text-nord0 border border-nord4 rounded py-3 px-4 mb-3 leading-tight font-mono break-words whitespace-pre-wrap;
}

#hash {
    @apply text-nord9 p-1;
}

#timeout {
    @apply appearance-none inline-block w-20 mx-1 py-2 px-2 bg-nord4 text-nord0 rounded leading-tight focus:outline-none focus:bg-nord5 transition duration-300;
}

#check-controls {
    @apply mt-2 mb-4;
}

#popup {
    z-index: 999;
    @apply w-full h-full fixed top-0 left-0 hidden items-center justify-center;
}

#popup-body {
    @apply w-full lg:w-1/2 h-auto bg-nord4 text-nord0 border border-nord4 rounded-lg p-4;
}

#popup-input {
    @apply appearance-none block w-full bg-nord5 text-nord0 border border-nord4 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-nord6;
}

#settings {
    z-index: 999;
    @apply w-full h-full fixed top-0 left-0 hidden items-center justify-center;
}

#settings-body {
    @apply w-full lg:w-5/6 h-full lg:h-5/6 p-4 bg-nord4 text-nord0 border border-nord3 lg:rounded-lg opacity-0 transition duration-300;
}

